<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Eating Lists

    <a data-toggle="collapse" href="#trip_eating_lists_new_form">
      Add eating list
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @trip.eating_lists.each do |eating_list| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to eating_list, eating_list %>

        <%= link_to eating_list, method: :delete, data: { confirm: "Do you really want to delete this eating_list" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="trip_eating_lists_new_form">
        <%= render partial: "trips/trip_eating_lists_new_form" %>
      </div>
    </div>

  </ul>
</div>
