<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Itineraries

    <a data-toggle="collapse" href="#country_itineraries_new_form">
      Add itinerary
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @country.itineraries.each do |itinerary| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to itinerary, itinerary %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to itinerary, method: :delete, data: { confirm: "Do you really want to delete this itinerary" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="country_itineraries_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
